<div class="row">
  <strong *ngFor="let gipher of searchedGiphers">
    <div class="col-sm-3 card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/bookmark.png" width="25%" height="25%" (click)="bookmarkGipher(gipher)" />
            <img src="assets/favIcon.jfif" width="40%" height="40%" (click)="favouriteGipher(gipher)" />
          </div>
        </div>
      </div>
      <div class="card-body giff-body">
        <iframe [src]=getSantizeUrl(gipher.embedURL) style="position:relative" frameBorder="10" class="giphy-embed"
          allowFullScreen></iframe>
      </div>
    </div>
  </strong>
</div>