<div class="row loginHeader">

        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>

        <div class="col-md-6"></div>
        <div class="col-md-2">
                <input type="text" class="form-control input-sm" placeholder="Email" [(ngModel)]="loginUser.email">
        </div>
        <div class="col-md-2">
                <input type="password" class="form-control input-sm" placeholder="Password" [(ngModel)]="loginUser.password">
        </div>
        <div class="loginButton">
                <B>
                        <button class="form-control input-sm loginButton" (click)=logIn()>
                                <B>Log In</B>
                        </button>
                </B>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
</div>

<app-register></app-register>
