<!--The content below is only a placeholder and can be replaced.-->
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div style="width:10%;height:0;padding-bottom:12%;position:relative;">
        <iframe src="https://giphy.com/embed/4N1wOi78ZGzSB6H7vK"  style="position:relative" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
      </div>
      <button type="button" class="btn btn-primary">favourites</button>
      <button type="button" class="btn btn-primary">bookmark</button>
    </div>
  </div>

  <div class="card">
    <div style="width:10%;height:0;padding-bottom:12%;position:relative;">
      <iframe src="https://giphy.com/embed/4N1wOi78ZGzSB6H7vK" style="position:relative" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary">favourites</button>
      <button type="button" class="btn btn-primary">bookmark</button>
    </div>
  </div>

  <div class="card">
    <div style="width:10%;height:0;padding-bottom:12%;position:relative;">
      <iframe src="https://giphy.com/embed/4N1wOi78ZGzSB6H7vK" style="position:relative" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary">favourites</button>
      <button type="button" class="btn btn-primary">bookmark</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>